.about {
    background-color: white;
    padding-top: 160px;

    &-container {
        @include flexCenter;
        flex-direction: column;
    }

    &-heading {
        margin-bottom: 40px;
        color: black;
        @include fontStyle(Raleway, 500, 46);

        @include netbook {
            @include fontSize(42);
        }

        @include tablet {
            @include fontSize(30);
        }

        @include mobile {
            @include fontSize(28);
        }
    }

    &-items {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;

        @include netbook {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &-item {
        width: 100%;
        text-align: center;
        border-radius: 40px;
        display: flex;
        align-items: center;
        box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.35);
        
        &--first {
            position: relative;
            background: linear-gradient(100deg, #1F7225 5.98%, #5AA02D 51.37%, #A9D764 101.11%, #D6EF9C 152.42%);
            grid-row-start: 1;
            grid-row-end: 3;

            @include netbook {
                grid-column-start: 1;
                grid-column-end: 3;
            }

            @include tablet {
                grid-column-start: 1;
                grid-column-end: 4;
            }

            .about-item--number {
                position: absolute;
                top: 40%;
                left: 0;
                width: 62px;
                height: 104px;

                @include netbook {
                    width: 45px;
                    height: 60px;
                }
            }
        }

        &--second {
            position: relative;
            background-color: black;

            @include netbook {
                grid-column-start: 2;
                grid-column-end: 4;
            }

            @include tablet {
                grid-column-start: 1;
                grid-column-end: 4;
            }

            .about-item--number {
                position: absolute;
                top: 10px;
                right: 0;
                width: 60px;
                height: 77px;

                @include netbook {
                    width: 44px;
                    height: 58px;
                }
            }
        }

        &--third {
            position: relative;
            border: 2px solid black;

            @include netbook {
                grid-column-start: 1;
                grid-column-end: 3;
            }

            @include tablet {
                grid-column-start: 1;
                grid-column-end: 4;
            }

            .about-text {
                color: black;
            }

            .about-item--number {
                position: absolute;
                top: 30%;
                left: 0;
                width: 47px;
                height: 57px;

                @include netbook {
                    width: 40px;
                    height: 50px;
                }
            }
        }
    }

    &-text {
        @include fontStyle(Raleway, 400, 18);
        text-align: center;
        margin: 30px 60px;

        @include netbook {
            @include fontSize(16);
        }

        @include mobile {
            @include fontSize(14);
        }
    }
}