.contact {
    margin-top: -1px;
    background-color: white;

    &-container {
        padding-top: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include netbook {
            margin-top: 100px;
        }
    }

    &-heading {
        @include fontStyle(Raleway, 500, 46);
        color: black;
        text-align: center;

        @include netbook {
            @include fontStyle(Raleway, 500, 42);
        }

        @include tablet {
            @include fontStyle(Raleway, 500, 36);
        }

        @include mobile {
            @include fontStyle(Raleway, 500, 30);
        }
    }

    &-subheading {
        margin-top: 25px;
        width: 435px;
        align-self: center;
        @include fontStyle(Raleway, 400, 26);
        color: black;
        text-align: center;
            background-image: linear-gradient(91deg, #1A7025 -3.7%, #77B140 47.02%, #E0EFA8 103.44%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            @include netbook {
                @include fontStyle(Raleway, 400, 24);
            }
    
            @include tablet {
                @include fontStyle(Raleway, 400, 20);
                width: 100%;
            }
    
            @include mobile {
                @include fontStyle(Raleway, 400, 18);
            }
    }

    &-sticker {
        position: relative;
        margin-top: 40px;
        width: 370px;
        color: black;
        @include fontStyle(Raleway, 400, 18);
        background-color: $paleGreen;
        padding: 30px 28px;
        box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.35);
        border-radius: 15px;
        transform: rotate(-5.852deg);

        @include tablet {
            @include fontSize(16);
            width: 280px;
        }

        @include mobile {
            width: 250px;
            @include fontSize(14);
        }

        &--marked {
            color: $lightGreen;
            font-weight: 600;
        }

        &::after {
            content: "";
            position: absolute;
            background-size: cover;
            right: -100px;
            bottom: -50px;
            width: 100px;
            height: 92px;
            background-image: url('../images/icons/questionArrow.svg');
            transform: rotate(-80deg);
        }
    }
}

.contact-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 21;

    &--display {
        display: block;
        animation-name: modal-show;
        animation-duration: 0.315s;
    }

    &--hide {
        display: none;
        animation-name: modal-hide;
        animation-duration: 0.315s;
    }

    .closeButton {
        &-pic {
            fill: black ;
        }

        &:hover {
            .closeButton-pic {
                    fill: $mediumGreen;
            }
        }
    }

    &--inner {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
    }
    
    &__content {
        position: relative;
        width: 600px;
        height: 380px;
        @include flexCenter;
        flex-direction: column;
        background-color: white;
        border-radius: 40px;
        border: 2px solid $lightGreen;
        overflow: hidden;

        &::before {
            position: absolute;
            content: "";
            width: 110px;
            height: 112px;
            background-image: url('../images/icons/success.svg');
            top: 25px;
            background-size: cover;
        }

        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 75px;
            background-image: url('../images/icons/grass.svg');
            bottom: 0;
        }
    }

    &__heading {
        margin-top: 20px;
        color: black;
        @include fontStyle(Raleway, 500, 46);
    }

    &__subheading {
        margin-top: 4px;
        @include fontStyle(Raleway, 500, 22);
        color: $lightGreen;
    }

    &__info {
        @include fontStyle(Raleway, 400, 14);
        margin-top: 4px;
        color: black;

        &--marked {
            color: $lightGreen;
        }
    }
}

.form {
    width: 770px ;
    margin-top: 100px;
    align-self: center;

    @include netbook {
        width: 100%;
    }

    @include tablet {
        width: 100%;
    }

    &--cart {
        margin-bottom: 120px;
    }

    &-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
        row-gap: 50px;

        @include netbook {
            grid-template-columns: 46%;
            column-gap: 8%;
            row-gap: 30px;
        }

        @include tablet {
            display: flex;
            flex-direction: column;
        }
    }

    &-item {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        row-gap: 20px;

        &--wide {
            grid-column-start: 1;
            grid-column-end: 3;

            .form-input {
                resize: vertical;
                min-height: 80px;
            }
        }

        &--hiden {
            opacity: 0;
            max-height: 0;
        }
    }

    ._error {
        .form-label {
            color: rgb(247, 121, 121);
        }

        .form-input {
            border-bottom: 2px solid rgb(247, 121, 121);
        }
    }
    

    &-label {
        @include fontStyle(Raleway, 500, 24);

        @include tablet {
            @include fontSize(20);
        }
    }

    &-input {
        width: 100%;
        @include fontStyle(Montserrat, 300, 18);
        padding: 0 0 12px 0;
        border: none;
        outline: none;
        border-bottom: 2px solid black;

        &::placeholder {
            @include fontStyle(Montserrat, 300, 14);
        }

        &:focus {
            border-bottom: 2px solid $lightGreen;
            color: $lightGreen;

            &::placeholder {
                color: $lightGreen;
            }
        }

        &:focus + label {
            color: $lightGreen;
        }
    }

    &-agreement {
        display: flex;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    &-button {
        width: 270px;
        height: 70px;
        @include fontStyle(Raleway, 500, 22);
        border-radius: 20px;
        cursor: pointer;
        color: black;
        background-color: transparent;
        border: 2px solid $lightGreen;
        transition: all 0.15s ease-in-out;

        @include netbook {
            width: 230px;
        }

        @include tablet {
            width: 210px;
        }

        @include mobile {
            width: 170px;
            @include fontSize(18);
        }

        &:hover {
            color: white;
            border: 2px solid $mediumGreen;
            background-color: $mediumGreen;
            transform:translateY(3px);
        }

        &:active {
            color: white;
            border: 2px solid $darkGreen;
            background-color: $darkGreen;
            transform:translateY(3px);
        }

        &--wrapper {
            width: min-content;
            position: relative;
        }
    }

    ._sending {
        color: $darkGreen;
        border: 2px solid $darkGreen;
        background-color: $darkGreen;
        transform:translateY(3px);
    }
}

.form-agreement._error {
    .agreement-label {
        &::before {
                box-shadow: inset 0px 0px 5px rgb(247, 121, 121);
                border: 1px solid rgb(247, 121, 121);
        }
    }
}

.agreement {

    &-input {
        align-self: flex-start;
        width: auto;
        cursor: pointer;
        display: none;

        &:checked + .agreement-label::after {
            transform: scale(1);
        }
    }


    &-label {
        width: 100%;
        @include fontStyle(Raleway, 300, 16);
        display: flex;
        align-items: center;
        line-height: 140%;
        position: relative;

        @include netbook {
            @include fontSize(15);
        }

        & span {
            display: flex;

            @include tablet {
                display: block;
            }
        }

        &::before {
            font-size: 0;
            margin-right: 10px;
            content: "";
            flex: 0 0 24px;
            height: 24px;
            border-radius: 20%;
            border: 1px solid $lightGreen;
            align-self: flex-start;
        }

        &::after {
            align-self: flex-start;
            position: absolute;
            content: "✓";
            color: white;
            @include flexCenter;
            width: 26px;
            height: 26px;
            background-color: $lightGreen;
            border-radius: 20%;
            font-family: Raleway;
            transform: scale(0);
            transition: all 0.15s ease-in-out;
        }
    }

    &-link {
        // width: max-content;
        color:  $lightGreen;
    }
}

.map {
    margin-top: 120px;
    width: 100%;
    height: 470px;

    @include tablet {
        margin-top: 100px;
        height: 290px;
    }

    @include mobile {
        height: 250px;
    }
}

.loader {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    position: relative;
    -webkit-animation: loader 0.9s 0.35s ease alternate infinite;
    animation: loader 0.9s 0.35s ease alternate infinite;
    margin: -20px auto 0;

    &::after, &::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        animation: loader 0.9s ease alternate infinite;
        -webkit-animation: loader 0.9s ease alternate infinite;
    }

    &::before {
        left: -20px;
        animation-delay: 0.2s;
    }

    &::after {
        right: -20px;
        animation-delay: 0.5s;
    }

    &-container {
        font-size: 10px;
        position: absolute;
        width: 100%;
        height: 70px;
        display: inline-block;
        text-align: center;
        border-collapse: collapse;
        bottom: -3px;
        left: 0;
        display: none;

        &--sending {
            display: block;
        }
    }
}