.contact {
    background-color: white;

    &-container {
        padding-top: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &-heading {
        @include fontStyle(Raleway, 500, 46);
        color: black;
        text-align: center;
    }

    &-subheading {
        margin-top: 25px;
        width: 435px;
        align-self: center;
        @include fontStyle(Raleway, 400, 26);
        color: black;
        text-align: center;
        background-image: linear-gradient(91deg, #1A7025 -3.7%, #77B140 47.02%, #E0EFA8 103.44%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.form {
    margin-top: 100px;

    &-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
        row-gap: 50px;
    }

    &-item {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        row-gap: 20px;

        &--wide {
            grid-column-start: 1;
            grid-column-end: 3;

            .form-input {
                resize: vertical;
                min-height: 80px;
            }
        }
    }

    &-label {
        @include fontStyle(Raleway, 500, 24);
    }

    &-input {
        width: 100%;
        @include fontStyle(Montserrat, 300, 14);
        padding: 0 0 12px 0;
        border: none;
        outline: none;
        border-bottom: 2px solid black;

        &:focus {
            border-bottom: 2px solid $lightGreen;
            color: $lightGreen;

            &::placeholder {
                color: $lightGreen;
            }
        }

        &:focus + label {
            color: $lightGreen;
        }
    }

    &-agreement {
        display: flex;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    &-button {
        width: 270px;
        height: 70px;
        @include fontStyle(Raleway, 500, 22);
        border-radius: 20px;
        cursor: pointer;
        background-color: transparent;
        border: 2px solid $lightGreen;
        transition: all 0.15s ease-in-out;

        &:hover {
            color: white;
            border: 2px solid $mediumGreen;
            background-color: $mediumGreen;
            transform:translateY(3px);
        }

        &:active {
            color: white;
            border: 2px solid $darkGreen;
            background-color: $darkGreen;
            transform:translateY(3px);
        }
    }
}


.agreement {

    &-input {
        align-self: flex-start;
        width: auto;
        cursor: pointer;
        display: none;

        &:checked + .agreement-label::after {
            transform: scale(1);
        }
    }


    &-label {
        width: 100%;
        @include fontStyle(Raleway, 300, 16);
        display: flex;
        align-items: center;
        line-height: 140%;
        position: relative;

        & span {
            display: flex;
        }

        &::before {
            font-size: 0;
            margin-right: 10px;
            content: "";
            flex: 0 0 24px;
            height: 24px;
            border-radius: 20%;
            border: 1px solid $lightGreen;
            align-self: flex-start;
        }

        &::after {
            align-self: flex-start;
            position: absolute;
            content: "✓";
            color: white;
            @include flexCenter;
            width: 26px;
            height: 26px;
            background-color: $lightGreen;
            border-radius: 20%;
            font-family: Raleway;
            transform: scale(0);
            transition: all 0.15s ease-in-out;
        }
    }

    &-link {
        width: max-content;
        color:  $lightGreen;
    }
}


.map {
    margin-top: 120px;
    width: 100%;
    height: 470px;
}