.faqHero {
    box-sizing: content-box;
    position: relative;
    display: flex;
    justify-content: center;

    &--inner {
        position: absolute;
        background-color: black;
        padding-bottom: 480px;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        width: 140vw;

        @include tablet {
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
        }
    }

    &-container {
        position: absolute;
        z-index: 12;
        display: flex;
        flex-direction: column;
    }

    &-heading {
        margin-top: 120px;
        text-transform: uppercase;
        text-align: center;
        @include fontStyle(Raleway, 500, 46);

        @include netbook {
            @include fontSize(44);
        }

        @include tablet {
            @include fontSize(40);
        }

        @include mobile {
            @include fontSize(30);
        }
    }

    &-subheading {
        @include fontStyle(Raleway, 500, 46);
        margin-top: 40px;
        text-align: center;
        color: $lightGreen;

        @include netbook {
            @include fontSize(38);
        }

        @include tablet {
            @include fontSize(30);
        }

        @include mobile {
            @include fontSize(26);
        }
    }

    &-hand {
        bottom: 10%;
        right: 13%;
        position: absolute;

        @include tinyDesktop {
            width: 280px;
            height: 260px;
            right: 11%;
            bottom: 5%;
        }
        
        @include netbook {
            width: 212px;
            height: 200px;
        }

        @include tablet {
            bottom: -10%;
        }

        @include mobile {
            right: 6%;
        }
    }
}

.accordion {

    &--wrapper {
        padding-top: 480px;
        width: 100%;
        min-height: 500px;
        background-color: white;
    }

    &-container {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &-tab {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
        background-color: $lightGreen;
        border-radius: 20px;

        &__heading {
            position: relative;
            display: flex;
            align-items: center;
            width: 900px;
            padding: 25px 40px;
            min-height: 82px;
            @include fontStyle(Raleway, 600, 20);
            color: white;
            cursor: pointer;
            margin-right: 25px;

            @include tinyDesktop {
                width: 838px;
            }

            @include netbook {
                width: 100%;
                @include fontSize(18);
            }

            @include mobile {
                @include fontSize(16);
            }

            &::after {
                position: absolute;
                content: "";
                background-image: url('../images/icons/arrow.svg');
                background-size: cover;
                height: 30px;
                width: 30px;
                right: 30px;
                transition: all 0.25s ease-in-out;
                right: 0;
            }

        }

        &__input {
            display: none;

            &:checked + label::after {
                transform: rotateX(180deg);
            }
        }
    }

    &-panel {
        max-height: 0;
        opacity: 0;
        width: 900px;
        margin-bottom: 30px;
        transition: all 0.25s ease-in-out;
        overflow: hidden;

        @include tinyDesktop {
            width: 838px;
        }

        @include netbook {
            width: 100%;
        }
    }



    &-list {
        list-style: decimal;

        .accordion-item {
            margin-left: 25px;

            // &:last-child {
            //     margin-bottom: 0;
            // }
        }
    }

    &-item {
        @include fontStyle(Montserrat, 400, 18);
        color: black;
        margin-bottom: 18px;

        @include netbook {
            @include fontSize(16);
        }

        @include mobile {
            @include fontSize(14);
        }

        &:last-child {
            margin-bottom: 0;
        }

        &--margin {
            margin-bottom: 18px !important;
        }

        &--wrapper {
            padding: 40px 45px;
            margin: 0 5px;
            border: 2px solid $lightGreen;
            border-top: none;
            border-bottom: none;
        }

        &--marked {
            color: $lightGreen;
        }

        &--inner {
            @include fontStyle(Raleway, 400, 18);

            @include netbook {
                @include fontSize(16);
            }
    
            @include mobile {
                @include fontSize(14);
            }
        }
    }
}