.header {
    display: flex;
    justify-content: center;

    &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            justify-self: center;
            height: 80px;
            z-index: 2;

            @include tablet {
                height: 98px;
            }

            @include wideMobile {
                height: 95px;
                justify-content: end;
            }

            @include mediumMobile {
                height: 85px;
            }

            @include tinyMobile {
                height: 70px;
            }
    }
}

.logo {
    width: 110px;

    &:hover {
        cursor: pointer;
    }
}

.nav {
    display: flex;
    align-items: center;
    margin-left: -50px;

    &-item {
        @include fontStyle(Raleway, 400, 18);
        margin-right: 50px;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.profile {
    display: flex;
}

.cart-wrapper {
    margin-right: 20px;

    &:hover {
        cursor: pointer;
    }
}

.profile-wrapper {
    &:hover {
        cursor: pointer;
    }
}

