.header {
    display: flex;
    justify-content: center;
    transition: transform 0.2s linear;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: black;
    z-index: 20;

    &--hiden {
        transform: translateY(-$headerHeight);
    }

    &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            justify-self: center;
            height: 80px;
            z-index: 2;

            @include tablet {
                height: 98px;
            }

            @include wideMobile {
                height: 95px;
                justify-content: end;
            }

            @include mediumMobile {
                height: 85px;
            }

            @include tinyMobile {
                height: 70px;
            }
    }
}

.logo {
    width: 110px;

    &:hover {
        cursor: pointer;
    }
}

.nav {
    display: flex;
    align-items: center;

    &-item {
        transition: all 0.15s ease-in-out;

        &--wrapper {
            @include fontStyle(Raleway, 400, 18);
            margin-right: 50px;
        }

        &:hover {
            cursor: pointer;
        }

        &:last-child {
            margin-right: 0;
        }

        &--eng {

            &:hover {
                color: $lightGreen;
            }
        }
    }
}

.profile {
    display: flex;
    align-items: center;
}

.cart {
    &-wrapper {
        position: relative;
    }

    &-count {
        position: absolute;
        height: 15px;
        width: 15px;
        background-color: red;
        top: -5px;
        right: -5px;
        border-radius: 50%;
        color: white;
        @include flexCenter;
        @include fontStyle(Montserrat, 400, 10);
        display: none;
    }
}

.language {
    display: flex;
    margin-right: 38px;

    &-separator {
        background-color: #fff;
        width: 0px;
        border: 1px solid #fff;
        height: 20px;
        margin: 0 6px;
    }

    &-item {
        @include fontStyle(Raleway, 400, 18);
        transition: all 0.15s ease-in-out;

        &:hover {
            color: $lightGreen;
        }

        &--checked {
            color: $lightGreen;
        }
    }
}