.hero {
    max-height: 90vh;
    overflow: hidden;
    position: relative;

    &-video {
        width: 100vw;
        aspect-ratio: 16/9;

        &__media {
            position: absolute;
            width: 100vw;
            height: auto;
            min-width: 320px;
            min-height: 180px;
        }
    }

    &-container {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 12;
        width: 100vw;
        height: 100%;
        @include flexCenter;
        flex-direction: column;
    }

    &-heading {
        z-index: 2;
        @include flexCenter;
        flex-direction: column;
    }
}