.hero {
    max-height: 90vh;
    overflow: hidden;
    position: relative;

    &-video {
        width: 100vw;
        aspect-ratio: 16/9;

        @include tablet {
            width: 200vw;
        }

        @include mobile {
            width: 280vw;
        }

        &::after {
            content: "";
            width: 140vw;
            height: 50px;
            position: absolute;
            bottom: -30px;
            left: -15vw;
            background-color: black;
            filter: blur(10px);

            @include tablet {
                content: none;
            }
        }

        &__media {
            position: absolute;
            width: 100vw;
            height: auto;
            min-width: 320px;
            min-height: 180px;

            @include tablet {
                width: 200vw;
                right: -50%;
            }


            @include mobile {
                width: 280vw;
                right: -90%;
            }
        }
    }

    &-container {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 12;
        width: 100vw;
        height: 100%;
        @include flexCenter;
        flex-direction: column;
        transition: all 0.45s ease-in-out;
        opacity: 1;
    }

    &-heading {
        z-index: 2;
        @include flexCenter;
        @include fontStyle(Raleway, 500, 80);
        flex-direction: column;
        text-shadow: 0px 4px 4px rgb(0, 0, 0);
        text-align: center;
        text-transform: uppercase;

        @include netbook {
            @include fontStyle(Raleway, 400, 60);
        }

        @include tablet {
            @include fontStyle(Raleway, 400, 56);
        }

        @include mobile {
            @include fontStyle(Raleway, 400, 40);
        }
    }

    &-subheading {
        @include fontStyle(Raleway, 400, 26);
        text-align: center;

        @include tablet {
            @include fontStyle(Raleway, 400, 20);
        }

        @include mobile {
            @include fontStyle(Raleway, 400, 18);
        }
    }
}