.intro {
    margin-top: 120px;

    @include tablet {
        margin-top: 100px;
    }

    &-container {
        @include flexCenter;
        flex-direction: column;
    }

    &-heading {
        @include fontStyle(Raleway, 500, 46);

        @include netbook {
            @include fontSize(42);
        }

        @include tablet {
            @include fontSize(30);
        }

        @include mobile {
            @include fontSize(28);
        }
    }

    &-subheading {
        margin-top: 25px;
        width: 490px;
        text-align: center;
        @include fontStyle(Raleway, 400, 26);
        background-image: linear-gradient(91deg, #1A7025 -3.7%, #77B140 47.02%, #E0EFA8 103.44%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include netbook {
            @include fontSize(26);
        }

        @include tablet {
            width: 450px;
            @include fontSize(20);
        }

        @include mobile {
            width: 329px;
            @include fontSize(18);
        }
    }

    &-item {
        @include fontStyle(Raleway, 400, 18);
        text-align: left;
        width: 60%;
        margin-top: 80px;

        @include netbook {
            width: 100%;
            @include fontSize(16);
        }

        @include mobile {
            @include fontSize(14);
        }

        &:last-child {
            margin-top: 60px;
        }

        &--left {
            align-self: flex-start;

            @include netbook {
                align-self: flex-start;
            }
        }

        &--right {
            align-self: flex-end;

            @include netbook {
                align-self: flex-start;
            }
        }

        &--marked {
            padding: 0 4px;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 15px;
            background-color: $darkGreen;
        }
    }

    &-img {
        position: absolute;
        width: 100vw;
        height: auto;
        object-fit: cover;
        border-radius: 40px;

        @include netbook {
            height: 100%;
        }

        &--wrapper {
            position: relative;
            width: 100vw;
            aspect-ratio: 32/13;
            margin-top: 120px;
            margin-bottom: -40px;

            @include netbook {
                aspect-ratio: 16/9;
            }
        }
    }
}