.miniShop {
    padding-top: 120px;
    padding-bottom: 120px;

    &-container {
        @include flexCenter;
        flex-direction: column;
    }

    &-heading {
        @include fontStyle(Raleway, 500, 46);
    }

    &-subheading {
        @include fontStyle(Raleway, 600, 24);
        align-self: flex-start;
    }

    &-list {
        margin-top: 45px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 30px;
        column-gap: 20px;
        
        &__item {
            width: fit-content;
            border-radius: 40px;
            border: 2px solid $lightGreen;
            overflow: hidden;
        }
    }

    &-link {
        position: relative;
        margin-top: 100px;
        width: fit-content;
        @include fontStyle(Raleway, 500, 24);
        align-self: flex-end;
        transition: all 0.15s ease-in-out;

        &::before {
            position: absolute;
            content: "";
            left: -160px;
            top: -40px;
            background-image: url('../images/icons/arrowGreen.svg');
            width: 140px;
            height: 80px;
            background-size: contain;
            background-repeat: no-repeat;
        }

        &:hover {
            color: $lightGreen;
        }
    }

    &-item {

        &__photo {
            height: 100%;
            transition: all 0.2s ease-in-out;


            &--wrapper {
                height: 328px;
                overflow: hidden;
                cursor: pointer;
                overflow: hidden;

                &:hover {
                    .miniShop-item__photo {
                        transform: scale(1.07);
                        background-color: black;
                    }
                }
            }
        }

        &__info {
            margin: 20px 15px 15px 15px;

            &-name {
                @include fontStyle(Raleway, 500, 26);
            }

            &-price {
                @include fontStyle(Montserrat, 500, 46);
                color: $lightGreen;
                display: flex;
                flex-direction: row;
                margin-top: 20px;

                &--meter {
                    @include fontStyle(Raleway, 400, 18);
                    color: white;
                    margin-left: 10px;
                }
            }

            &-button {
                @include fontStyle(Raleway, 500, 25);
                color: white;
                background-color: $lightGreen;
                border-radius: 20px;
                height: 80px;
                width: 100%;
                margin-top: 40px;
                border: none;
                transition: all 0.15s ease-in-out;
                @include flexCenter;

                &:hover {
                    cursor: pointer;
                    background-color: $mediumGreen;
                    transform:translateY(3px);
                    
                }

                &:active {
                    background-color: $darkGreen;
                    transform:translateY(3px);
                }
            }
        }
    }
}