.miniShop {
    padding-top: 120px;
    padding-bottom: 120px;

    @include tablet {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    &-container {
        @include flexCenter;
        flex-direction: column;
    }

    &-heading {
        @include fontStyle(Raleway, 500, 46);

        @include netbook {
            @include fontSize(42);
        }

        @include tablet {
            @include fontSize(30);
        }

        @include mobile {
            @include fontSize(28);
        }
    }

    &-subheading {
        @include fontStyle(Raleway, 600, 24);
        align-self: flex-start;
    }

    &-list {
        margin-top: 45px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 30px;
        column-gap: 20px;

        @include tablet {
            grid-template-columns: 1fr;
            row-gap: 20px;
        }
        
        &__item {
            width: fit-content;
            border-radius: 40px;
            border: 2px solid $lightGreen;
            overflow: hidden;
            height: fit-content;

            @include tablet {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    &-link {
        position: relative;
        margin-top: 100px;
        width: fit-content;
        @include fontStyle(Raleway, 500, 24);
        align-self: flex-end;
        transition: all 0.15s ease-in-out;

        @include tablet {
            @include fontSize(22);
        }

        @include mobile {
            @include fontSize(20);
        }

        &::before {
            position: absolute;
            content: "";
            left: -160px;
            top: -40px;
            background-image: url('../images/icons/arrowGreen.svg');
            width: 140px;
            height: 80px;
            background-size: contain;
            background-repeat: no-repeat;

            @include tablet {
                width: 100px;
                height: 60px;
                left: -140px;
                top: -30px;
            }
        }

        &:hover {
            color: $lightGreen;
        }
    }

    &-item {

        &__photo {
            width: 100%;
            height: 100%;
            transition: all 0.2s ease-in-out;

            &--wrapper {
                width: 100%;
                height: 328px;
                overflow: hidden;
                cursor: pointer;
                overflow: hidden;

                @include netbook {
                    height: 236px;
                }

                @include tablet {
                    height: 197px;
                }

                @include mobile {
                    height: 170px;
                }

                &:hover {
                    .miniShop-item__photo {
                        transform: scale(1.07);
                        background-color: black;
                    }
                }
            }
        }

        &__info {
            position: relative;
            margin: 20px 15px 15px 15px;

            @include tablet {
                margin: 17px 17px 17px 20px;
            }

            @include mobile {
                margin: 15px 15px 15px 17px;
            }

            &-name {
                @include fontStyle(Raleway, 500, 26);

                @include netbook {
                    @include fontSize(24);
                }
        
                @include tablet {
                    @include fontSize(22);
                }
        
                @include mobile {
                    @include fontSize(20);
                }
            }

            &-price {
                @include fontStyle(Montserrat, 500, 46);
                color: $lightGreen;
                display: flex;
                flex-direction: row;
                margin-top: 20px;

                @include netbook {
                    @include fontSize(34);
                }
        
                @include tablet {
                    margin-top: 15px;
                    @include fontSize(30);
                }
        
                @include mobile {
                    @include fontSize(28);
                }

                &--meter {
                    @include fontStyle(Raleway, 400, 18);
                    color: white;
                    margin-left: 10px;

                    @include tablet {
                        @include fontSize(16);
                    }
            
                    @include mobile {
                        @include fontSize(14);
                    }
                }
            }

            &-button {
                @include fontStyle(Raleway, 500, 25);
                color: white;
                background-color: $lightGreen;
                border-radius: 20px;
                height: 80px;
                width: 100%;
                margin-top: 40px;
                border: none;
                transition: all 0.15s ease-in-out;
                @include flexCenter;

                @include netbook {
                    @include fontSize(22);
                    margin-top: 25px;
                    height: 60px;   
                }
        
                @include tablet {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    @include fontSize(20);
                }
        
                @include mobile {
                    height: 51px;   
                    @include fontSize(18);
                }

                &:hover {
                    cursor: pointer;
                    background-color: $mediumGreen;
                    transform:translateY(3px);
                    
                }

                &:active {
                    background-color: $darkGreen;
                    transform:translateY(3px);
                }
            }
        }
    }
}