.perfectFor {
    margin-top: -1px;
    background-color: white;

    &-container {
        @include flexCenter;
        flex-direction: column;
    }

    &-heading {
        color: black;
        @include fontStyle(Raleway, 500, 46);
        text-align: center;
        margin-top: 120px;
        position: relative;
        width: fit-content;

        @include netbook {
            @include fontStyle(Raleway, 500, 42);
        }

        @include tablet {
            margin-top: 100px;
            @include fontStyle(Raleway, 500, 36);
        }

        @include mobile {
            @include fontStyle(Raleway, 500, 30);
        }

        &::after {
            position: absolute;
            content: '';
            background-image: url('../images/icons/arrowGreenRound.svg');
            width: 120px;
            height: 80px;
            background-repeat: no-repeat;
            background-size: contain;
            right: -70%;
            top: 30px;

            @include netbook {
                width: 90px;
                height: 50px;
                right: -50%;
            }

            @include tablet {
                width: 70px;
                height: 65px;
            }

            @include mobile {
                right: -70%;
            }
        }
    }

    &-item {
        @include flexCenter;
        flex-direction: column;
        width: 100%;
        align-items: center;

        &__img {
            width: 100%;
            max-width: 160px;
            aspect-ratio: 1/1;

            @include netbook {
                max-width: 120px;
            }

            @include tablet {
                max-width: 100px;
            }
        }

        &__name {
            @include fontStyle(Raleway, 500, 24);
            color: black;
            text-align: center;
            margin-top: 8px;

            @include netbook {
                @include fontSize(20);
            }

            @include tablet {
                @include fontSize(18);
            }
            
            @include mobile {
                @include fontSize(16);
            }
        }

        &--container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            width: 100%;
            row-gap: 80px;
            margin-top: 100px;

            @include tablet {
                margin-top: 80px;
                row-gap: 50px;
                grid-template-columns: repeat(3, 1fr);
            }

            @include mobile {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}