:root {
    --body-color: #000000;
    --basic-font: 16px, sans-serif;
}

* {
    box-sizing: border-box;
}


html, body {

    font: var(--basic-font);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0;
    background: var(--body-color);
    overflow-x: hidden;
    z-index: 10;
    scroll-behavior: smooth;
}

body {
    padding-top: $headerHeight;

    @include tablet {
        padding-top: 98px;
    }

    @include mobile {
        padding-top: 95px;
    }
}

.main {
    flex: 1 0;
}


ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: block;
    color: #fff;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
    color: #fff;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

// clicable svg icons (use clicable-icon--wrapper and clicable-icon)

.clicable-text {
    transition: all 0.15s ease-in-out;
}

.clicable-icon--inner {
    transition: all 0.15s ease-in-out;
}

.clicable-icon {
    path {
        transition: all 0.15s ease-in-out;
    }

    &--wrapper {
        &:hover {
            cursor: pointer;

            .clicable-icon path {
                stroke: $lightGreen;
            }

            .clicable-icon--inner {
                fill: $lightGreen;
            }

            .clicable-text {
                color: $lightGreen;
            }
        }
    }
}

// container

.container {
    @include container;
}


.revealByLoad {
    &--right {
        @include slideInRight;
    }

    &--left {
        @include slideInLeft;
    }
}

.revealByScroll {
    &--right {
        @include slideInRight;
    }

    &--left {
        @include slideInLeft;
    }
}
